<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <div><%= user.id %></div>
    <div><%= user.name %></div>
    <div><%= user.email %></div>
    <div><%= user.createdAt %></div>

    <span>Email Verification:</span>
    <% if(user.isEmailValid) { %>
        <span>verified</span>
        <% }else { %>
         <span>Not verified</span>
         <a href="/verify-email">Verify Now</a>
         <% } %>


</body>
</html>