<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
</head>
<body>
    <%- include('../partials/nav_fotter.ejs')  %>
    <div class="container">
        <div class="form verify">
            <!-- <div><%= user.id %></div> -->
            <div><%= user.name %></div>
            <div><%= user.email %></div>
            <div><%= user.createdAt %></div>

            <span>Email Verification:</span>
            <% if(user.isEmailValid) { %>
                <span>verified</span>
                <% }else { %>
                <span class="para">Not verified</span>
                <div>
                    <a class="verify-btn" href="/verify-email">Verify Now</a>
                </div>
                
                <% } %>

                <div>
                    <a class="verify-btn" href="/edit-profile">Edit Profile</a>
                </div>

                <div>
                    <a class="verify-btn" href="/change-password">Change Password</a>
                </div>
         </div>
         </div>

</body>
</html>